.option
{
    width: 100%;
    height: 200%;
}
.header
{
    height: 8vh;
    width: 100%;
    font-size: 6vmin;
    text-align: center;
    color: black;
    font-family: system-ui;
}
.h3-text
{
    margin-top: 3.5vh;
    margin-left: 1%;
    font-size: 5vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-input
{
    margin-left: 5%;
    width: 50%;
    height: 5vh;
    color: green;
    font-size: 3.5vmin;
    border-bottom: 0ch;
}
.form-row
{
    width: 100%;
}
.form-group
{
    width: 100%;
    margin-top: 2vh;
    font-family: system-ui;
}
.form-label
{
    margin-left: 3%;
    font-size: 3.5vmin;
    color: whitesmoke;
    width: 35%;
    font-family: system-ui;
}

.form-label-for-radio
{
    margin-left: 3%;
    font-size: 3.5vmin;
    color: whitesmoke;
    font-family: system-ui;
    width: 35%;
}

.form-input-for-radio
{
    width: 10%;
    height: 3vmin;
    color: rgb(56, 40, 4);
    font-size: 3.5vmin;
}
.form-btn
{
    background-color:#867373;
    border-radius: 5cm;
    width: 30%;
    margin-left: 13%;
    padding: 10px;
    font-size: 3.5vmin;
    color: rgb(32, 7, 7);
    text-align: center;
}
.option-detail
{
    margin-left: 25%;
    margin-top: 3%;
    background-color: #004B82;
    height: 40vh;
    width: 50%;
    border-radius: 4vh;
    padding: 1vh;

}

.stock-detail
{
    margin-bottom: 5%;
    margin-left: 25%;
    margin-top: 1%;
    background-color: #004B82;
    height: 20vh;
    width: 50%;
    border-radius: 4vh;
    padding: 1vh;
    border: rgb(194, 33, 33);

}
.option-submit
{
    background-color: #004B82;;
    border-radius:0.5cm;
    width: 10%;
    
    padding: 20px;
    font-size: 20pt;
    color: whitesmoke;
    text-align: center;
    margin-top: 3%;
    
    
}